[submodule "prototype/dep/perfevent"]
	path = prototype/dep/perfevent
	url = https://github.com/maxi-k/perfevent-rs
[submodule "prototype/cmp/leanstore"]
	path = prototype/cmp/leanstore
	url = https://github.com/maxi-k/leanstore
